doctype html
html(lang="en")
  
  head
    title Taachain
      
    link(href="/static/taachain/css/style.css", rel="stylesheet")
  
  body
    .container
      .parent
      .children

    script(src="/static/jquery/jquery-2.1.1.min.js")
    script(src="/static/taachain/js/index.js")